<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color:red;">Admin All Banks & Cashbook</div>
<div class="col-md-12">&nbsp;</div>
<div></div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12" align="center">
  Select :
  <span>&nbsp;&nbsp;</span>
  <span><input type="radio" ng-model="myVar" value="dogs" ng-checked="true" ng-click="allCall()">All</span><span>&nbsp;&nbsp;</span>
  <span><input type="radio" ng-model="myVar" value="tuts" ng-click="bankCall()">Banks</span><span>&nbsp;&nbsp;</span>
  <span><input type="radio" ng-model="myVar" value="cars" ng-click="cashBookCall()">Cash Books</span>
</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-10">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>Acc Name</th>
					<th>Type</th>
					<th>Institution</th>
					<th>Last Update</th>
					<th>Balance</th>
					<th>Locked Amount</th>
					<th>Over Draft</th>
					<th>Bank / Cash book</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="usr in allBankTran" style="font-size: 12px">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{usr.bankName}}</span></td>
					<td><span>{{usr.type}}</span></td>
					<td><span>{{usr.institution}}</span></td>
					<td><span>{{usr.lastUpdated | date:"dd/MMM/yyyy"}}</span></td>
					<td><span>{{usr.balance}}</span></td>
					<td><span>{{usr.lockedAmount}}</span></td>
					<td><span>{{usr.overDraft}}</span></td>
					<td><span ng-show="usr.bankCashbook">Bank</span> <span
							ng-show="!usr.bankCashbook">Cash Book</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<div class="col-md-1">&nbsp;</div>
</div>