<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color:red;">Ledger Master Data/Info Page</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-10"></div>
<div class="col-sm-2" style="margin-top:-35px;">
	<label>Search:</label> <input id="" name="search"
		data-ng-model="search" class="form-control"
		data-ng-change="callToSearch()">
</div>
<div class="col-md-12">
	<div style="font-size: 12px" id="grd" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav
		ui-grid-exporter class="uiGrd"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>  -->
        <h4 class="modal-title" id="exampleModalLongTitle">Master Data for Ledger</h4>
      </div>
      <div class="modal-body" style="height:325px">
        <div class="col-sm-12">
        	 <div class="col-sm-6">
	            <label>Name:</label> <input id="name" name="name"
		              data-ng-model="name" class="form-control" data-ng-change="checkName()">
		        <span data-ng-show="nameError"
									class="error-message"
									data-ng-bind="nameErrorMessage"></span>
             </div>
        	 <div class="col-sm-6"  >
	           <label>State:</label> <input id="state" name="state" data-ng-model="state" class="form-control">
             </div>
        </div>
        <div class="col-sm-12">
        	 <div class="col-sm-6">
	            <label>Pincode:</label> <input id="pincode" name="pincode"
		              data-ng-model="pincode" class="form-control" data-ng-change="checkPincode()">
		        <span data-ng-show="pincodeError"
									class="error-message"
									data-ng-bind="pincodeErrorMessage"></span>
             </div>
        	 <div class="col-sm-6"  >
	           <label>Mail:</label> <input id="mail" name="mail"
		          data-ng-model="mail" class="form-control" data-ng-change="checkMail()">
		       <span data-ng-show="mailError"
									class="error-message"
									data-ng-bind="mailErrorMessage"></span>
             </div>
        </div>
        <div class="col-sm-12">
        	 <div class="col-sm-6">
	            <label>Phone:</label> <input id="phone" name="phone"
		              data-ng-model="phone" class="form-control" data-ng-change="checkPhone()">
		        <span data-ng-show="phoneError"
									class="error-message"
									data-ng-bind="phoneErrorMessage"></span>
             </div>
        	 <div class="col-sm-6"  >
	           <label>Aadhar:</label> <input id="aadhar" name="aadhar"
		          data-ng-model="aadhar" class="form-control" data-ng-change="checkAadhar()">
		       <span data-ng-show="aadharError"
									class="error-message"
									data-ng-bind="aadharErrorMessage"></span>
             </div>
        </div>
        <div class="col-sm-12">
        	 <div class="col-sm-6">
	            <label>PAN:</label> <input id="pan" name="pan"
		              data-ng-model="pan" class="form-control" data-ng-change="checkPan()">
		         <span data-ng-show="panError"
									class="error-message"
									data-ng-bind="panErrorMessage"></span>
             </div>
        	 <div class="col-sm-6">
	           <label>GST Number:</label> <input id="gstnumber" name="gstnumber"
		          data-ng-model="gst" class="form-control" data-ng-change="checkGST()">
		       <span data-ng-show="gstError"
									class="error-message"
									data-ng-bind="gstErrorMessage"></span>
             </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
		   <label>Address:</label>
		   <textarea data-ng-model="address" id="address"
							class="form-control" rows="2" cols="30" maxlength="420"></textarea>
         </div>
		</div>
        
        
        
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-ng-click="cancel()" data-dismiss="modal">Close</button>
        <button type="button" data-ng-click="saveChanges()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
  
<style>
.uiGrd {
	height: 580px;
}
</style>
