<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color: red;">Admin
	All Groups & Ledger</div>
<div class="col-md-12">&nbsp;</div>
<div></div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12" data-ng-show="listGroupsView">
	<div class="col-md-11" align="right">
		<button class="btn btn-primary"
			style="background: #42210b; color: #f7f7ad"
			data-ng-click="addGroupButtonForAdding()">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="col-sm-12">&nbsp;</div>
<div class="col-md-12" data-ng-show="listGroupsView">
	<div class="col-md-3">
		<button class="btn btn-primary"
			style="background: #42210b; color: #f7f7ad"
			data-ng-click="getLiabilityMainGroups()">Liability</button>
		<div class="col-sm-12">&nbsp;</div>
		<div class="col-sm-12">
			<table style="width: 100%">
				<tr ng-repeat="lg in getAllLiabilityMainGroups">
					<td ng-click=getSubGroups(lg)><a><span>{{lg.groupName}}</span></a></td>
				</tr>
			</table>
		</div>


	</div>
	<div class="col-md-3">
		<button class="btn btn-primary"
			style="background: #42210b; color: #f7f7ad" data-ng-click="">Asset</button>
		<table style="width: 100%">
			<tr>
				<th style="border: 1px solid black;">Asset</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<button class="btn btn-primary"
			style="background: #42210b; color: #f7f7ad" data-ng-click="">Expence</button>
		<table style="width: 100%">
			<tr>
				<th style="border: 1px solid black;">Expence</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<button class="btn btn-primary"
			style="background: #42210b; color: #f7f7ad" data-ng-click="">Income</button>
		<table style="width: 100%">
			<tr>
				<th style="border: 1px solid black;">Income</th>
			</tr>
		</table>
	</div>
</div>
<!-- Add View -->
<div class="col-sm-12" data-ng-show="addGroupsView">
	<div class="col-md-12" align="center">
		Select : <span>&nbsp;&nbsp;</span> <span><input type="radio"
			ng-model="myVar" value="1" ng-click="groupCall()">Group</span><span>&nbsp;&nbsp;</span>
		<span><input type="radio" ng-model="myVar" value="2"
			ng-click="ledgerCall()">Ledger</span>
	</div>
	<div class="col-md-12">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-block btn-cta-primary"
				style="background: #42210b; color: #f7f7ad"
				data-ng-click="saveButtonGroup()">Submit</button>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-block btn-cta-primary"
				style="background: #42210b; color: #f7f7ad"
				data-ng-click="cancelButton()">Cancel</button>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<!--  -->
<div  class="col-md-12">
	<div class="col-md-12">&nbsp;</div>
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<md-content> <md-tabs md-dynamic-height md-border-bottom
				md-selected=0> <md-tab label="driver"> <md-content
				class="md-padding">
			<div class="choices">
				<div align="center">
					<span style="font-size: 20px;">Add Driver</span>
				</div>
				<br />
				<form role="form" name="addDriverForm" novalidate
					autocomplete="off">
					<fieldset>
					<div class="col-md-12">
						   <div class="col-md-4">&nbsp;</div>
						   <div class="col-md-4 form-group has-feedback" align="center">
						       <div id="uploadButton" data-ng-show="upload">
										<button type="button" id="profilePicId"
											class="btn btn-primary btn-lg btn-circle upload_file"
											onclick='$("#profilePic").click()'>
											 <i class="fa fa-plus"></i>
										</button>
										<br /> Upload 
							   </div>
							   <div id="profilePicPreview" data-ng-show="preview" align="center">
										<img src="{{image}}" id="profileImageRegister">
									<div align="center" class="edit"><a href="" onclick='$("#profilePic").click()'></a></div>
							   </div>
							   <div style="display: none;">
									<input type="file" id="profilePic"
										data-ngf-select="uploadProfilePic()"
										data-ng-model="profilePic" name="profilePic" accept="image/*" />
							   </div>
							   <span style="color: red;margin-bottom:0px;position:relative;"
											data-ng-show="unsupportedFileType">Supported formats jpg/png/gif/bmp </span>
						   </div>
						   <div class="col-md-4">&nbsp;</div>
						</div>
						<div class="col-md-12">
						<div class="col-md-2 form-group has-feedback">&nbsp;</div>
						<div class="col-md-2 form-group has-feedback">&nbsp;</div>
						</div>
						<div class="col-md-12">&nbsp;</div>
						<div class="col-md-12">
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<button type="submit" class="btn btn-block btn-cta-primary" style="background: #42210b; color: #f7f7ad"
									data-ng-click="addDriverButton()">Add</button>
							</div>
							<div class="col-md-3">
								<button type="submit" class="btn btn-block btn-cta-primary" style="background: #42210b; color: #f7f7ad"
									data-ng-click="cancelButton()">Cancel</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</fieldset>
				</form>

			</div>
			</md-content> </md-tab> </md-tabs> </md-content>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3"></div>
	</div>
</div>
	