<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color:red;">Admin All Bank Transactions Page</div>
<div class="col-md-12">&nbsp;</div>
<div></div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
	<div class="col-md-12">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>Acc Name</th>
					<th>Tran Date</th>
					<th>Description</th>
					<th>Cheque</th>
					<th>Inflow (D)</th>
					<th>Outflow (C)</th>
					<th>Balance</th>
					<th>Debit</th>
					<th>Credit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bnkt in allBankTran" style="font-size: 12px">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{bnkt.bank.bankName}}</span></td>
					<td><span>{{bnkt.transactionDate | date:"dd/MMM/yyyy"}}</span></td>
					<td><span>{{bnkt.description}}</span></td>
					<td><span>{{bnkt.chequeNo}}</span></td>
					<td><span>{{bnkt.debit}}</span></td>
					<td><span>{{bnkt.credit}}</span></td>
					<td><span>{{bnkt.balance}}</span></td>
					<td></td>
					<td></td>					
				</tr>
			</tbody>
		</table>
	</div>
	<br />
</div>