<div class="managerHeader" style="height:60px;" data-ng-controller="headerController">
	<div class="col-md-12 col-lg-12 col-sm-12">
		
		<div class="nav navbar-nav col-md-10 col-lg-10 col-sm-10">
			<ul>
				<li style="margin-top: -20px"><a href="#/admin/home">Home</a></li>
				<li style="margin-top: -20px"><a href="#/admin/users">Users</a></li>
				<li style="margin-top: -20px"><a href="#/admin/allBanksCashbooks">Banks</a></li>
				<!-- <li><a href="#/admin/allGroupsLedgers">Ledgers</a></li>
				 <li><a href="#/admin/allUsersCashbooks">Users / Cashbooks</a></li>  -->
				<!-- <li style="margin-top: -20px"><a href="#/admin/allBankTransactions">Transactions</a></li> -->
				 <li style="margin-top: -20px"><a href="#/admin/test">Transactions</a></li>  
				<li style="margin-top: -20px"><a href="#/admin/ledgerMaster">Ledger Master</a></li>
			</ul>
		</div>
		<div class="nav navbar-nav col-md-1 col-lg-1 col-sm-1">
			<ul>
				<li style="margin-top: -20px"><a href="" data-ng-click="logoutMe()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>