<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color:red;">Admin All Users - Cashbook Page</div>
<div class="col-md-12">&nbsp;</div>
<div></div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-10">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>User Name</th>
					<th>Cashbook Name</th>
					<th>Balance</th>
					<th>Admin</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ucb in allUsersCashBook">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{ucb.user.firstName}}</span><span>&nbsp;</span><span>{{ucb.user.lastName}}</span></td>
					<td><span>{{ucb.bank.bankName}}</span></td>
					<td><span>{{ucb.bank.balance}}</span></td>
					<td><span>{{ucb.user.firstName}}</span><span>&nbsp;</span><span>{{ucb.user.lastName}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<div class="col-md-1">&nbsp;</div>
</div>