<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center" style="color: red;">All
	Transactions Page</div>
<!--
<div class="col-md-2 form-group has-feedback">
	<label>From Date:</label> <input id="" name="fromDate"
		data-ng-model="fromDate" class="datepicker form-control"
		data-date-format="dd MM yyyy" data-ng-change="changeFromDate()">
</div> 
<div class="col-md-2 form-group has-feedback">
	<label>To Date:</label> <input id="" name="toDate"
		data-ng-model="toDate" class="toDatepicker form-control"
		data-date-format="dd MM yyyy" data-ng-change="changeToDate()">
	<span data-ng-show="showDateMessage" class="error-message"
		data-ng-bind="dateMessage"></span>
</div>
 -->
<div class="col-sm-10">&nbsp;</div>
<div class="col-sm-2" style="margin-top:-35px;">
	<label>Search:</label> <input id="" name="search"
		data-ng-model="search" class="form-control"
		data-ng-change="callToSearch()">
</div>
<div class="col-md-12">
	<div style="font-size: 12px" id="grd" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav
		ui-grid-exporter class="uiGrd"></div>
</div>

<style>
.uiGrd {
	height: 580px;
}
</style>
<script type="text/ng-template" id="uiSelect">
      <ui-select-wrap>
        <ui-select ng-model="MODEL_COL_FIELD" theme="selectize" ng-disabled="disabled" append-to-body="true">
          <ui-select-match placeholder="Choose...">{{ COL_FIELD }}</ui-select-match>
          <ui-select-choices repeat="item.groupName as item in col.colDef.editDropdownOptionsArray | filter: $select.search">
            <span>{{ item.groupName }}</span>
          </ui-select-choices>
        </ui-select>
      </ui-select-wrap>
</script>
